In [1]:
x,y = 100,200
sum = x + y
print(sum)

300

In [2]:
print('hello world!')

hello world!

In [3]:
print(5<10)

True

In [4]:
print(5>10)

False

In [5]:
num = 3
print(num)

3

In [6]:
num2 = 25
num3 = 77
print(num2)
print(num3)

25
77

In [10]:
num3 = 3.1425
num4 = 1.25
num5 = 3.12
num5

3.12

In [12]:
str1 = 'Funny python'
str1
str2 = 'Easy python'
str2

'Easy python'

In [13]:
a = 10
b = 15
print(a)
print(b)

10
15

In [14]:
a,b = 10, 15
print(a)
print(b)

10
15

In [15]:
str1 = str2 = 'python'
print(str1)
print(str2)

python
python

In [16]:
x = 100
y = 200
sum = x + y
print(sum)

300

In [17]:
s1 = 'she"s gone'
print(s1)

she"s gone

In [19]:
day = "2020년 3월 3일의 날씨는 맑음입니다."
print('날짜: ', day[:11])
print('날씨: ', day[-6:-4])

날짜:  2020년 3월 3일
날씨:  맑음

In [22]:
x = 100
y = 200
sum2 = x+y
print('%d와 %d의 합은 %d입니다.'%(x,y,sum))
print('{}와 {}의 합은 {}입니다'.format(x,y,sum))
print(f'{x}와 {y}의 합은 {sum}입니다.')

100와 200의 합은 300입니다.
100와 200의 합은 300입니다
100와 200의 합은 300입니다.